.text {
    color: #070707; 
    font-family: "Press Start 2P", cursive; 
  }
  
  .btn{
    background-color: #0A0A0A; 
    color: #fefeff; 
    border: 1px solid #61abff; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .btn:hover {
    background-color: #009c1a; 
    color: #0A0A0A; 
  }
  
 
  .table {
    background-color: #0A0A0A; 
    color: #61abff; 
    border: 1px solid #61abff; 
    font-family: "Press Start 2P", cursive; 
  }
  
  .table th, .table td {
    border: 1px solid #61abff; 
  }
  
  .table th {
    background-color: #61abff; 
    color: #0A0A0A; 
  }
  